@media (max-width: 768px) {
  .card-app {
    padding: 0;
    background-color: red;
  }
  .divContainer {
    border-radius: 0 !important;
  }
  .col_flex {
    display: flex;
    flex-direction: column-reverse;
  }
}
